<app-menu></app-menu>
<mat-sidenav-container>
    <mat-sidenav mode="side" opened>

        <div class="statistika-naslov">Statistika</div>
        <div class="statistika-kartica">
            <span class="statistika-naziv">aktivno: </span> <span
                class="statistika-vrijednost">{{statistikaUkupnoElemenataAktivno}}</span>
        </div>
        <div class="statistika-kartica">
            <span class="statistika-naziv">završeno: </span> <span
                class="statistika-vrijednost">{{statistikaUkupnoElemenataZavrseno}}</span>
        </div>
        <div class="statistika-kartica">
            <span class="statistika-naziv">kupljeno: </span> <span
                class="statistika-vrijednost">{{statistikaUkupnoElemenataKupljeno}}</span>
        </div>




        <div fxLayout="row" fxLayoutAlign="center center">
            <button mat-raised-button color="accent" type="button" (click)="otvoriDodajPonuduDijalog()">Dodaj
                ponudu</button>
        </div>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="ponuda-tab-ikonica">shopping_cart</mat-icon> Aktivni
                </ng-template>
                <div class="proizvod-kontejner">
                    <div class="proizvod-kartica" *ngFor="let kartica of listaAktivnihKarticaProizvoda">
                        <div class="kartica-zaglavlje">
                            <div class="kartica-naslov">{{kartica.kratakNaslov}}</div>
                            <div class="kartica-podnaslov">{{kartica.nazivKategorije}}</div>
                        </div>
                        <div class="kartica-poster-kontejner">
                            <img class="kartica-poster" [src]="kartica.posterUrl" alt="Podrazumijevana slika">
                        </div>
                        <div class="proizvod-kartica-sadrzaj">
                            <p class="proizvod-kartica-sadrzaj-cijena">{{kartica.cijena | number:'1.2-2'}}<span
                                    class="proizvod-kartica-sadrzaj-valuta">KM</span> </p>
                            <div class="proizvod-kartica-sadrzaj-stavka">
                                <a mat-raised-button color="primary" class="proizvod-kartica-sadrzaj-dugme"
                                    [routerLink]="['/details', kartica.id, { dozvoljenKomentar: true, dozvoljenaKupovina: false, dozvoljenoBrisanje: true }]">Detalji</a>
                            </div>
                        </div>
                    </div>
                </div>

                <mat-paginator [length]="ukupnoElemenataAktivno" [pageSize]="brojElemenataAktivno"
                    [pageSizeOptions]="[2, 4, 8]"
                    (page)="promjenaStraniceAktivniProizvodiKorisnika($event)"></mat-paginator>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="ponuda-tab-ikonica">remove_shopping_cart</mat-icon> Završeni
                </ng-template>
                <div class="proizvod-kontejner">
                    <div class="proizvod-kartica" *ngFor="let kartica of listaZavrsenihKarticaProizvoda">
                        <div class="kartica-zaglavlje">
                            <div class="kartica-naslov">{{kartica.kratakNaslov}}</div>
                            <div class="kartica-podnaslov">{{kartica.nazivKategorije}}</div>
                        </div>
                        <div class="kartica-poster-kontejner">
                            <img class="kartica-poster" [src]="kartica.posterUrl" alt="Podrazumijevana slika">
                        </div>
                        <div class="proizvod-kartica-sadrzaj">
                            <p class="proizvod-kartica-sadrzaj-cijena">{{kartica.cijena | number:'1.2-2'}}<span
                                    class="proizvod-kartica-sadrzaj-valuta">KM</span> </p>
                            <div class="proizvod-kartica-sadrzaj-stavka">
                                <a mat-raised-button color="primary" class="proizvod-kartica-sadrzaj-dugme"
                                    [routerLink]="['/details', kartica.id, { dozvoljenKomentar: false, dozvoljenaKupovina: false, dozvoljenoBrisanje: true }]">Detalji</a>
                            </div>
                        </div>
                    </div>
                </div>

                <mat-paginator [length]="ukupnoElemenataZavrseno" [pageSize]="brojElemenataZavrseno"
                    [pageSizeOptions]="[2, 4, 8]"
                    (page)="promjenaStraniceZavrseniProizvodiKorisnika($event)"></mat-paginator>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="ponuda-tab-ikonica">shopping_basket</mat-icon> Kupljeno
                </ng-template>
                <div class="proizvod-kontejner">
                    <div class="proizvod-kartica" *ngFor="let kartica of listaKupljenihKarticaProizvoda">
                        <div class="kartica-zaglavlje">
                            <div class="kartica-naslov">{{kartica.kratakNaslov}}</div>
                            <div class="kartica-podnaslov">{{kartica.nazivKategorije}}</div>
                        </div>
                        <div class="kartica-poster-kontejner">
                            <img class="kartica-poster" [src]="kartica.posterUrl" alt="Podrazumijevana slika">
                        </div>
                        <div class="proizvod-kartica-sadrzaj">
                            <p class="proizvod-kartica-sadrzaj-cijena">{{kartica.cijena | number:'1.2-2'}}<span
                                    class="proizvod-kartica-sadrzaj-valuta">KM</span> </p>
                            <div class="proizvod-kartica-sadrzaj-stavka">
                                <a mat-raised-button color="primary" class="proizvod-kartica-sadrzaj-dugme"
                                    [routerLink]="['/details', kartica.id, { dozvoljenKomentar: false, dozvoljenaKupovina: false, dozvoljenoBrisanje: false }]">Detalji</a>
                            </div>
                        </div>
                    </div>
                </div>

                <mat-paginator [length]="ukupnoElemenataKupljeno" [pageSize]="brojElemenataKupljeno"
                    [pageSizeOptions]="[2, 4, 8]" (page)="promjenaStraniceKupljeniProizvodi($event)"></mat-paginator>
            </mat-tab>
        </mat-tab-group>
    </mat-sidenav-content>
</mat-sidenav-container>